* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	overflow: auto;
}

body {
	background-color: lightblue;
	width: 100dvw;
	height: 100dvh;
}

.infoCard {
	display: none;
	z-index: 2;
	position: absolute;
	width: 100dvw;
	height: 100%;
	background-color: white;
}

.collapsible-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.collapsible {
	cursor: pointer;
	background-color: #e2e8f0;
	padding: 10px;
	margin: 5px 0;
	font-weight: bold;
	user-select: none;
	position: relative;
	padding-right: 30px;
}

.collapsible::after {
	content: '▶';
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	transition: transform 0.3s ease;
}

.collapsible.open {
	cursor: pointer;
	background-color: #e2e8f0;
	padding: 10px;
	margin: 5px 0;
	font-weight: bold;
	user-select: none;
	position: relative;
	padding-right: 30px;
}

.collapsible.open::after {
	content: '▼';
	user-select: none;
	transition: transform 0.3s ease;
	display: inline-block;
}
.content {
	display: none;
	padding: 10px;
	background-color: #f1f5f9;
	margin: 0 0 10px 0;
}

.active, .infoCardContentCollapsible:hover {
	background-color: #ccc;
}

.infoCardHeadingBackground {
	display: flex;
	align-items: center;
	justify-content: space-between; /* push title left, button right */
	background-color: coral;
	border-bottom: 1px solid #ccc;
	padding-left: 1em;
}

#infoCardHeading {
	margin: 0;
	font-size: 1.5em;
	flex-grow: 1;
}

.infoCardHeadingCloseButton {
	background: none;
	border: none;
	font-size: 1.2em;
	cursor: pointer;
	width: 3em;
	height: 3em;
	color: white;
	text-decoration: double;
	background-color: crimson;
}

.mapContainer {
	min-width: fit-content;
	width: 100dvw;
	min-height: fit-content;
	height: 100dvh;

	overflow-y: hidden;
}

.mapContainer svg {
	min-width: fit-content;
	width: 100%;
	height: 100%;
	min-height: fit-content;
	display: block;
}

.podcastButtonContainer {
	position: absolute; 
	bottom: 1.5em;
	right: 1.5em;
	z-index: 1;
}

.podcastButton {
	border: none;
	width: 3.5em;
	height: 3.5em;
	border-radius: 100px;
	background-color: coral;
	color: white;
}

.audio {
	min-width: fit-content;
	width: 100dvw;
}

path {
	fill: DarkSeaGreen;
	stroke: white;
}
path:hover {
	fill: SeaGreen;
}

.loading {
	font-size: 84px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-align: center;
}